
* 
{
 	margin: auto; padding: 0; 
 	border-style: 
}

h1 
{
 	padding: 0.5em; text-align: center; 
 	color: brown ;
}

#cronometro 
{
	background:url(Recursos/Fondo1.jpg);
	filter: grayscale(90);
 	padding:7px; border: 80px black double; width: 200px;
    text-align: center 
    background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#reloj 
{
	padding: 5px 10px; width: 20px;border: 1px solid black; 
    font: bold 1.5em digital, europa, arial; text-align: center; 
    margin: 4px  
    background: center; 
}
#cronometro [type=button]  
{
 	margin: 4px; font: normal 13pt arial 

} 
